@use '@/styles/abstracts' as *;

.button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: var(--font-heading);
  background-color: $color-primary;
  border-radius: 50px;
  padding: 24px 48px;
  color: $color-white;
  border: none;
  display: inline-block;
}

.paint {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $color-dark;
  width: 95px;
  height: 125px;
  pointer-events: none;
}

.label {
  position: relative;
  z-index: 2;
}
