@use '@/styles/abstracts' as *;

.section {
  position: relative;
  background-color: #fafafa;
  padding: 40px 0 60px;
  overflow: hidden;
}

.content {
  @include wrapper;
  position: relative;
  z-index: 1;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding: 20px 0;
}
